<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sierrebluesappv1">

    <application
        android:name=".viewmodel.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.stage.StageDetailActivity"
            android:parentActivityName=".ui.stage.StagesActivity"></activity>
        <activity android:name=".ui.BaseActivity" />
        <activity
            android:name=".ui.act.ActDetailActivity"
            android:parentActivityName=".ui.act.ActsActivity" />
        <activity
            android:name=".ui.stage.StageEditActivity"
            android:parentActivityName=".ui.stage.StagesActivity"/>
        <activity
            android:name=".ui.act.ActEditActivity"
            android:parentActivityName=".ui.act.ActsActivity"/>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TimetableActivity"
            android:parentActivityName=".WelcomeActivity" />
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.stage.StagesActivity"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".ui.act.ActsActivity"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".DashboardActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WelcomeActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>